@model Ice_Cream.Models.Customer

<environment>
    <link rel="stylesheet" href="/css/login.css" />
</environment>

<div class="info-reset">
    @*chỗ này phần menu*@
    <div style="background:#f9b3cf;">
        <div class="container">
            <div class="top-bar-left">
                <div class="logo">
                    <a href="/#"><span>ICE CREAM</span></a>
                </div>
                <div class="menu-wrapper">
                    <ul class="menu-ul">
                        <li><a asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                        <li><a asp-controller="Recipe" asp-action="Index"><span style="color:#d41442;font-size:20px">Recipe</span></a></li>
                        <li><a asp-controller="About" asp-action="Index"><span>About</span></a></li>
                        <li><a asp-controller="Contact" asp-action="Index"><span>Contact</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="login">

                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 information">
                <h2 class="text-center">Forgot Password?</h2>
                <form asp-controller="Login" asp-action="PasswordChange">
                    <div class="form-group">
                        <label for="name">Email Address:</label>
                        <input type="email" class="form-control" />
                    </div>
                    <div class="form-group submit">
                        <input type="submit" class="btn btn-danger btn-md" value="Reset Password"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
